@charset "UTF-8";

* {
    box-sizing: border-box;
}

/* Fontface */

@font-face {
    font-family: impact;
    src: url(/fonts/impact/Impact-Regular.ttf);
}

@font-face {
    font-family: play;
    src: url(/fonts/playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: ubuntuBold;
    src: url(../fonts/ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'latoregular';
    src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'latobold';
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
}

/*---------- Basic  ----------*/

.fa {
    display: inline-block;
    font-family: fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {
    font-family: latobold, sans-serif;
    color: #626262;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    margin: 0 0 1.25rem;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

p {
    margin: 0 0 1.25rem;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #e91e63;
}

a:hover {
    color: #000;
}

/*---------- Layout  ----------*/
.container {
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 740px) {
    .container {
        max-width: 100%;
    }
}

/* Components */

/*---------- Header  ----------*/

header {
    background: url("../img/header-bg.gif");
    height: 130px;
    color: #fff;
    font-family: latobold, sans-serif;
}

.logo-img-header {
    width: 50%;
    height: 50%;
}

header .header-wrapper {
    height: 130px;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 130px;
    height: 130px;
    width: 8.4375rem;
    text-align: center;
    border-right: 1px solid #1e1e1e;
}

.main-menu a:first-child {
    border-left: 1px solid #1e1e1e;
}

.main-menu a.active {
    border-bottom: 6px solid #ff8316;
    color: #ff8316;
}

.main-menu a:hover {
    color: #ff8316;
}

/*---------- Footer  ----------*/

footer {
    background: black;
    padding: 70px 0;
    text-align: center;
    color: white;
}

.logo-img-footer {
    width: 30%;
    height: 30%;
}

/*---------- Toggle  ----------*/

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 740px) {
    .toggle-menu-screen {
        display: block;
    }
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
}





/* Main-container */

.main-container {
    display: flex;
    flex-direction: column;
}

.main-container>* {
    flex-basis: 100%;
    margin: 20px;
    padding: 15px;
    /* TODO: Remove border */
    border: 1px solid black;
    border-radius: 12px;;
    /* TODO: Remove bgc */
    background-color: rgb(40, 40, 40);
}

/* Main-gallery */

.main-gallery .grid-container-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
    margin: 10px;
}

.card {
    padding: 5px;
    width: 100%;
    height: 150px;
}

/* Main-editor */

.main-editor {
    display: flex;
    flex-direction: row;
}

.main-editor>* {
    flex-basis: 100%;
    margin: 10px;
    padding: 15px;
    /* TODO: Remove border */
    border: 1px solid rgb(0, 81, 152);
    /* TODO: Remove bgc */
    background-color: white;
}

/* Canvas  */

/* .canvas-container */

canvas {
    border: 5px solid rgb(61, 15, 92);
    width: 100%;
    height: 100%;
}

/* User-editor */

.user-editor {
    width: 100%;
}

.grid-container-editor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    height: 100%;
}

.item {
    padding: 5px;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    border: black 1px solid;
}

.item-text {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}

.item-down {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.item-up {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.item-switch {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.item-add {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.item-trash {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}

.item-increase {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.item-decrease {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.item-left {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.item-center {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}

.item-right {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
}

.item-font {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
}

.item-stroke {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
}

.item-color {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
}

.item-share {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.item-download {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

/* item look */
.item {
    border-radius: 12px;
    color: white;
    background-color: rgb(255, 255, 255);
}


/* Footer */

.main-footer {
    height: 140px;
    background-color: #48b0ff;
    color: white
}

.main-footer .logo {
    font-family: inco, monospace;
    text-transform: uppercase;
    font-size: 1.875rem;
    letter-spacing: 0.2em;
}




/* Helpers */

/* flex helpers */
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* list-helpers */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*---------- Media  ----------*/

@media (max-width: 740px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: #292929;
        height: 100vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }

    .open .main-menu {
        transform: translate(0, 0);
    }

    .main-menu a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 1px solid #1e1e1e;
    }

    .main-menu a.active {
        border-width: 1px;
    }
}